
<form>
    {% if BuyPositionLimit %}
        {{ BuyPositionLimit | safe }}
    {% endif %}

    {% if CancelTimesLimit %}
        {{ CancelTimesLimit | safe }}
    {% endif %}

    {% if LotSize %}
        {{ LotSize|safe }}
    {% endif %}

    {% if MinPriceRangeLimit %}
        {{ MinPriceRangeLimit|safe }}
    {% endif %}

    {% if OpenOrderLimit %}
        {{ OpenOrderLimit|safe }}
    {% endif %}

    {% if SellPositionLimit %}
        {{ SellPositionLimit|safe }}
    {% endif %}

</form>