<div>
    <p>orderlist</p>
    <table>
        <thead>
        <tr>
            <th>
                order id
            </th>
            <th>contract</th>
            <th>buy or sell</th>
            <th>close or open</th>
            <th>status of pending order</th>
            <th>price of order</th>
            <th>the number of  hands</th>
            <th>the number of not-traded hands </th>
            <th>the number of traded hands</th>
            <th>detailed status</th>
            <th>the time of order</th>
            <th>the last traded time </th>
            <th>average transaction price</th>
            <th>insured</th>
            <th>exchange</th>
        </tr>
        </thead>
    </table>
</div>



