<table style="height: 100%;width: 100%">
    <tbody>
    <tr>
        <td>
            <div>
    <p>Details of fund account</p>
    <table>
        <thead>
        <tr>
            <th>Static interest</th>
            <th>Closing gain and loss</th>
            <th>Position gain and loss</th>
            <th>Royalties</th>
            <th>Dynamic rights and interests</th>
            <th>margin be taken up</th>
            <th>Order to freeze</th>
            <th>Available funds</th>
            <th>Risk degree</th>
        </tr>
        </thead>
    </table>

</div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
    <p>position</p>
<table>
    <thead>
    <tr>
        <th>contract</th>
        <th>buy or sell</th>
        <th>total position</th>
        <th>old position</th>
        <th>today positon</th>
        <th>available closing position</th>
        <th>average price of position</th>
        <th>Position gain and loss</th>
        <th>margin be taken up</th>
        <th>insured</th>
        <th>exchange</th>
    </tr>
    </thead>
</table>



</div>
        </td>
    </tr>
      <tr>
        <td>
           abc
        </td>
    </tr>

    <tr>
        <td>
            <p>search filter</p>
            <div id="tradinginfo_filter_bar">
                <label>contract:</label><input name="contract" type="text" value="" placeholder="search  filter"   />
                <button onclick="tradinginfo_filter()" type="button">filter</button>
                <button onclick="tradinginfo_add()" type="button">add row</button>
                <button onclick="tradinginfo_sort()" type="button">sort</button>
            </div>

        </td>
    </tr>



    <tr style="height: 100%">
        <td>
           <div id="position_grid" style="margin:0 auto;height: 100%"></div>
        </td>
    </tr>
    </tbody>
</table>








