{% if rightlistmg_usermg %}
    {{  rightlistmg_usermg | safe }}
{% endif %}

{% if rightlistmg_prcmg_investor_prc %}
    {{ rightlistmg_prcmg_investor_prc|safe  }}
{% endif %}

{% if  rightlistmg_prcmg_contract_prc%}
    {{  rightlistmg_prcmg_contract_prc| safe}}
{% endif %}

{% if rightlistmg_rolemg_view %}
    {{ rightlistmg_rolemg_view|safe }}
{% endif %}
{% if rightlistmg_trading_tradinginfo %}
{{ rightlistmg_trading_tradinginfo|safe }}
{% endif %}
{% if rightlistmg_trading_allorder %}
{{ rightlistmg_trading_allorder|safe }}
{% endif %}